@model WebProject.ViewModels.AnimalDetailsViewModel
@{
    ViewBag.Title = "ShowAnimalDetails";
}

<h1>Animal details</h1>

<div id="wrapper">
    <table id="table2">
        <tr>
            <th>Picture</th>
            <td><img src="~/Images/@Model.Animals.PictureName" width="200" height="150" /> </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.Animals.Name</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>@Model.Animals.Age</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Animals.Description</td>
        </tr>
        <tr>
            <th>Catagory</th>
            <td>@Model.Animals.Category.NameCategory</td>
        </tr>

    </table>

    <div id="comments">
        <table id="table1">
            <tr><th>Comments on this animal</th></tr>

            @foreach (var comment in Model.Comments)
            {
                <tr><td>@comment.CommentString</td></tr>
            }

        </table>
    </div>
</div>
<div id="addComments">
    <form asp-action="AddComment" asp-controller="Catalog" asp-route-animalId="@Model.Animals.AnimalId" method="post">
        <label asp-for="@Model.Comment.CommentString"></label>
        <input type="text" asp-for="@Model.Comment.CommentString" />
        <input type="submit" value="Add" />
    </form>
</div>

